langchain==0.3.25
langchain-community==0.3.24
langchain-core==0.3.62
langchain-openai==0.3.18
langchain-ollama==0.3.3
langchain-chroma==0.2.4
chromadb==1.0.11
renumics-spotlight==1.6.14
numpy<2
pandas==2.2.3
pypdf==5.5.0
ragas==0.2.15
datasets==2.21.0